// Кольори
$color-bg: #000000;
$color-header-bg: #121212;
$color-header-border: #353535;
$color-header-text: #F7F5F9;
$color-header-active: #c00;
$color-footer-border: #262626;
$color-footer-text: #FFFFFF80;
$color-link-hover: #d59a9a;
$color-card-bg: #0d0d0d;
$color-card-border: #FFFFFF26;
$color-card-title: #F7F5F9;
$color-card-desc: #F7F5F9;
$color-card-btn-bg: #fff;
$color-card-btn-text: #000;
$color-carousel-arrow-bg: rgba(133, 113, 95, 0.8);
$color-carousel-arrow-border: #342a21;
$color-carousel-arrow-hover-bg: rgba(208, 10, 10, 0.8);
$color-carousel-arrow-hover-border: #000;

// Розміри
$container-max-width: 1717.5px;
$header-height: 64px;
$hero-title-size: 80px;
$hero-title-line: 85px;
$hero-desc-size: 24px;
$hero-desc-line: 34px;
$footer-padding-top: 120px;
$footer-padding-bottom: 115px;